@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    color: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  *{
    color: rgb(238, 238, 238);
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*::-webkit-scrollbar {
  display: none;
}

.DeleteEffect {
  animation: deleteAnimation 0.8s forwards;
}

@keyframes deleteAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-65px);
  }
}
.reverseDeleteEffect {
  animation: deleteAnimation 0.8s reverse;
}

.DeleteButtonClickedEffect {
  display: none;
}
